<div class="col-md-12">
    <ul>
        <li>An implementation of the Elo rating system in JS.</li>
        <li>Rules:</li>
    </ul>
    <hr>
</div>

<div class="col-md-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ng-class="{'active': activeTab === 'ranking'}">
            <a href="" ng-click="setActiveTab('ranking')" aria-controls="ranking" role="tab" data-toggle="tab">RANKING</a>
        </li>
        <li role="presentation" ng-class="{'active': activeTab === 'results'}">
            <a href="" ng-click="setActiveTab('results')" aria-controls="results" role="tab" data-toggle="tab">RESULTS</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane" id="ranking" ng-class="{'active': activeTab === 'ranking'}">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Rating</th>
                        <th>Peak Rating</th>
                        <th>Games Played</th>
                        <th>Wins</th>
                        <th>Losses</th>
                        <th>Draws</th>
                        <th>%</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="player in playersArray| orderBy: '-stats.rating'">
                        <td>{{$index + 1}}</td>
                        <td>{{player.name}}</td>
                        <td>{{player.stats.rating}}</td>
                        <td>{{player.stats.peakRating}}</td>
                        <td>{{player.stats.gamePlayed}}</td>
                        <td>{{player.stats.wins}}</td>
                        <td>{{player.stats.losses}}</td>
                        <td>{{player.stats.draws}}</td>
                        <td>{{(player.stats.wins/player.stats.gamePlayed)*100 | number:2}}%</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div role="tabpanel" class="tab-pane" id="results" ng-class="{'active': activeTab === 'results'}">
            <table class="table table-condensed">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Matchup</th>
                        <th>Result</th>
                        <th>Rating Change</th>
                        <th>New Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat-start="result in results| orderBy: '-timestamp'">
                        <td rowspan="2">{{result.timestamp| date:"MM/dd/yyyy"}}</td>
                        <td>{{result.p1.name}} <span class="label label-default">{{result.p1.currentRating}}</span></td>
                        <td ng-switch="result.p1.result">
                            <span ng-switch-when=1>Win</span>
                            <span ng-switch-when=0>Loss</span>
                            <span ng-switch-when=0.5>Draw</span>
                        </td>
                        <td>
                            <span class="label label-default" ng-if="result.p1.ratingChange === 0">+ {{result.p1.ratingChange}}</span>
                            <span class="label label-success" ng-if="result.p1.ratingChange > 0">+ {{result.p1.ratingChange}}</span>
                            <span class="label label-danger" ng-if="result.p1.ratingChange < 0">- {{-result.p1.ratingChange}}</span>
                        </td>
                        <td>{{result.p1.newRating}}</td>
                    </tr>
                    <tr ng-repeat-end>
                        <td>{{result.p2.name}} <span class="label label-default">{{result.p2.currentRating}}</span></td>
                        <td ng-switch="result.p2.result">
                            <span ng-switch-when=1>Win</span>
                            <span ng-switch-when=0>Loss</span>
                            <span ng-switch-when=0.5>Draw</span>
                        </td>
                        <td>
                            <span class="label label-default" ng-if="result.p2.ratingChange === 0">+ {{result.p2.ratingChange}}</span>
                            <span class="label label-success" ng-if="result.p2.ratingChange > 0">+ {{result.p2.ratingChange}}</span>
                            <span class="label label-danger" ng-if="result.p2.ratingChange < 0">- {{-result.p2.ratingChange}}</span>
                        </td>
                        <td>{{result.p2.newRating}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>